* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  color: $font-color;
}

header .header {
  background: $flickr-blue;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 30px;

  small {
    font-size: 16px;
  }
}

footer .footer {
  background: $light-gray;
  margin-top: 30px;
  padding: 30px 10px;
  text-align: right;
}
