.flickr-search-input {
  color: $font-color;
  margin: 30px 0;
  padding: 20px 30px;
  width: 100%;
  font-size: 30px;
  border: 3px solid $gray;
  border-radius: 3px;
  text-align: center;

  transition: all .2s;

  &:focus, &:hover {
    outline: none;
    border-color: $flickr-pink;
  }
}

@media screen and (max-width: 640px) {
  .flickr-search-input {
    font-size: 16px;
    padding: 10px 15px;
  }
}
