//mq: 640 1024

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding: 0 15px;
}

.simple-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .box {
    padding: 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .simple-grid {
    .box {
      width: 100%;

      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 641px) {
  .simple-grid {
    .box {
      width: 33.333%;

      &:nth-of-type(3n) {
        padding-right: 0;
      }

      &:nth-of-type(3n + 1) {
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .simple-grid {
    .box {
      width: 16.6666666%;

      &:nth-of-type(6n) {
        padding-right: 0;
      }

      &:nth-of-type(6n + 1) {
        padding-left: 0;
      }
    }
  }
}

//@media screen and (min-width: 1200px) {
//  .simple-grid {
//    .box {
//      width: 20%;
//    }
//  }
//}
