.thumb-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    display: block;
    width: 100%;
    max-width: 100%;

    border: 1px solid gray;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;

    transition: all .2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
