.resource-pagination {
  margin: 20px 0;

  display: flex;
  justify-content: space-between;
}

.prev-link, .next-link {

  .fa {
    display: inline;
  }

  a {
    border: 2px solid $flickr-blue;
    color: $flickr-pink;
    border-radius: 3px;
    padding: 3px 10px;
    text-decoration: none;

    transition: all .2s;

    &:hover {
      border-color: $flickr-pink;
      background: $flickr-pink;
      color: white;
    }
  }
}

.link-txt {
  display: inline;
}

.pagination-status {

  .separator {
    color: $flickr-blue;
    margin: 0 5px;
  }
}

@media screen and (max-width: 640px) {
  .link-txt {
    display: none;
  }
}
