<header class="container">
  <div class="header">Photo search <small>powered by <span class="color-flickr-pink">flickr</span></small></div>
</header>

{{outlet}}

<footer class="container">
  <div class="footer">
    coded by <a href="https://github.com/gpluta" target="_blank">{{fa-icon "github" size="lg"}}gpluta</a></div>
</footer>