<header class="container">
  <div class="header">Photo search <small>powered by <span class="color-flickr-pink">flickr</span></small></div>
</header>

{{outlet}}

<footer class="container">
  <div class="footer">by <a href="https://github.com/gpluta">gpluta</a></div>
</footer>