<header class="container">
  <div class="header">Flickr photo search</div>
</header>

{{outlet}}

<footer class="container">
  <div class="footer">Made by <a href="https://github.com/gpluta">gpluta</a></div>
</footer>