<div class="container">
  {{input placeholder="What are you looking for?" enter='executeSearch' value=previousSearch
          class="flickr-search-input"}}
</div>

<div class="container">
  {{resource-pagination
  nextLink=nextLink
  prevLink=prevLink
  currentPage=model.photos.page
  totalPages=model.photos.pages
  totalElements=totalElements
  }}
</div>

<div class="container">
    {{thumbnails-grid
    modelIsLoading=modelIsLoading
    photos=model.photos.photo
    searchPhrase=search
    totalElements=totalElements
    }}
</div>

<div class="container">
  {{resource-pagination
    nextLink=nextLink
    prevLink=prevLink
    currentPage=model.photos.page
    totalPages=model.photos.pages
    totalElements=totalElements
   }}
</div>